#filtering {
    width: 250px;
    display: inline-block;
}

.thumbnail {
    height: 200px;
    width: 400px;
}

#cottagesSection {
    width: 1050px;
    float: right;
}

.extraImag {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 15px;
    display: none;
}

.extraImag img {
    width: 100%;
}