@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    margin: 0;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    color: white;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

#logo {
    position: absolute;
    left: 30px;
    width: 70px;
}

nav {
    position: absolute;
    right: 50px;
    grid-template-columns: repeat(4, 1fr);
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

#navBook {
    background-color: #3d84b8;
}

#navBook:hover {
    background-color: white;
    color: #3d84b8;
}

@-webkit-keyframes fade {
    from {
        opacity: .9
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .9
    }
    to {
        opacity: 1
    }
}

.content {
    position: absolute;
    display: grid;
    grid-template-rows: 100px 1fr 70px;
}

.Happication {
    align-items: center;
    text-align: center;
    padding-top: 40px;
    animation-name: moving;
    animation-duration: 1s;
}

@keyframes moving {
    from {
        padding-top: 0px;
    }
    to {
        padding-top: 80px;
    }
}

#subTitle {
    font-size: 30px;
    margin: 0px;
    font-weight: 400px;
}

#happ {
    width: 700px;
}


#About-website {
    font-weight: 300;
}

.buttonsCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
    padding: 35px;
}

button {
    border: none;
    cursor: pointer;
    background: none;
    font-size: 30px;
    text-align: center;
}

#rightButton {
    float: left;
    border: 2px solid white;
    padding: 15px 45px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 40px;
    background-color: white;
    color: #3d84b8 ;
}

#leftButton {
    float: right;
    border: 2px solid white;
    padding: 15px 45px;
    font-weight: 400;
    font-size: 18px;
    margin-right: 40px;
    color: white;
}

button:hover {
    background-color: gray;
}

#rightButton:hover {
    background-color: #3d84b8;
    color: white;
}

#rightButton a {
    text-decoration: none;
    color: #3d84b8;
}

#leftButton a {
    text-decoration: none;
    color: white;
}

footer {
    text-align: center;
    margin-top: 20px;
}

#social-contact i {
    padding: 0px 10px;
    padding-bottom: 10px;
}

#social-contact i:hover {
    cursor: pointer;
    color: black;
}

footer p {
    margin: 0px;
    font-size: 4mm;
}

.bPhoto {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: -10;
    display: none;
    filter: blur(1px);
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}